/*@import "../../node_modules/tailwindcss/dist/lib.d.mts";*/
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  /* 让点击更像原生 app，不会因为双击放大页面。 */
  touch-action: manipulation;
  -webkit-touch-callout: none; /* 禁止长按弹出菜单 */
  -webkit-user-select: none;   /* 禁止选中文本 */
  user-select: none;
}

/* class="h-full"，配合这段能使整个 Web App 使用 100% 高度 */
html, body {
  height: 100%;
  background-color: #f8f8f8;
}

html {
  /* 移动端滚动延迟优化 */
  -webkit-overflow-scrolling: touch;
  /* 避免文字太小 */
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overscroll-behavior-y: none;
}

/* 适配刘海屏 */
.tab-bar-nav {
  padding-bottom: env(safe-area-inset-bottom);
}
