.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 10rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
  /*border-radius: 0.5rem;*/
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: 0;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: 0;
}
.embla__slide__image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

@keyframes autoplay-progress {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
